{% extends "layer_01.html" %}

{% load static from staticfiles %}

{% block content %}
	<div class="content">{{ current_node.content|safe }}</div>
	{% if topic_list %}
		<table cellspacing="5">
			<thead class="opt05 fs14">
				<th>#</th>
				<th>Название</th>
			</thead>
			<tbody>{% for topic in topic_list %}
				<tr>
					<td class="opt05 fs14">{{ forloop.counter }}</td>
					<td><a href="{{ topic.get_absolute_url }}">{{ topic.title|slice:":60"|safe }}...</a></td>
				</tr>
			{% endfor %}</tbody>
		</table>
	{% else %}
		<center><p>Открытых тем, нет.</p></center>
	{% endif %}
{% endblock %}