{% extends "layer_01.html" %}

{% block content %}
	<div class="left column">
		<ul class="submenu">
			{% for item in item_list %}
				<li><a href="#{{ item.id }}">{{ item.title }}</a></li>
			{% endfor %}
		</ul>
	</div><!--

	--><div class="content column">{% for item in item_list %}
		<div class="item" id="{{ item.id }}">
			<p>{{ item.title|safe }}</p>
			<p>{{ item.description|safe }}</p>
			<p>{{ item.cost }}</p>
			{% if item.instruction_set.all %}<ul class="pdf_file"><!--
				{% for intstruction in item.instruction_set.all %}--><li>{{ intstruction.description }}<br /><a href="{{ intstruction.pdf.url }}" >скачать файл</a></li><!--{% endfor %}
			--></ul>{% endif %}
		</div>
	{% endfor %}</div>
{% endblock %}