{% extends "layer_01.html" %}

{% load static from staticfiles %}
{% load thumbnails %}

{% block extrahead %}
    <link rel="stylesheet" type="text/css" href="{% static 'css/flexslider.css' %}">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.6.2/jquery.min.js"></script>
    <script type="text/javascript" src="{% static 'js/jquery.flexslider-min.js' %}"></script>
{% endblock %}

{% block content %}
    <div class="left column">
        {% if news_list %}<div class="newslist">
            <h2>Новости</h2>
            {% for news in news_list %}
                <div class="news">
                    <p class="date">{{ news.date|date:'d F Y' }}</p>
                    <a href="{{ news.get_absolute_url }}">{{ news.title|safe }}</a>
                </div>
            {% endfor %}
        </div>{% endif %}
    </div><!--

    {% block rpanel %}
        --><ul class="column rpanel ">{% if current_node.right_blocks.count %}
            {% for right_block in current_node.right_blocks.all %}
                <li>
                    {% if right_block.photo %}<img src="{{ right_block.photo.url }}" />{% endif %}
                    {{ right_block.description|safe }}
                </li>
            {% endfor %}
        {% endif %}</ul><!--
    {% endblock %}

    --><div class="content column">
        {% if promo_list.count %}
            <div class="slideshow">
                <ul class="slides">
                    {% for promo in promo_list %}<li>
                        {% if promo.photo %}
                            {% if promo.url %}
                                <a href="{{ promo.url }}"><div class="slide-description" style="background: url('{{ promo.photo.path|thumbnail:"460x230,crop" }}');">{{ promo.description|safe }}</div></a>
                            {% else %}
                                <div class="slide-description" style="background: url('{{ promo.photo.path|thumbnail:"460x230,crop" }}');">{{ promo.description|safe }}</div>
                            {% endif %}
                        {% endif %}
                    </li>{% endfor %}
                </ul>
            </div>

            <script type="text/javascript" charset="utf-8">
                $(window).load(function() {
                    $('.slideshow').flexslider({
                        namespace: "slideshow-",
                        animation: "slide",
                        slideshowSpeed: 15000,
                        pauseOnAction: false,
                        directionNav: false,
                    });
                });
            </script>
        {% endif %}

        {{ current_node.content|safe }}

    </div>
{% endblock %}