{% extends "layer_01.html" %}

{% block content %}
    <div class="node_content">
        <div class="content">
            <div id = "map_canvas" style="width: 990px; height: 480px;"></div>
            {{ current_node.content|safe }}
        </div>
    </div>
{% endblock %}

{% block javascript %}
    <script type="text/javascript" src="http://maps.googleapis.com/maps/api/js?sensor=true&language=ru"></script>
    <script type="text/javascript">
        var mapOptions = {
          center: new google.maps.LatLng(54.98426, 82.90750),
          zoom: 16,
          mapTypeId: google.maps.MapTypeId.ROADMAP
        };
        var map = new google.maps.Map(document.getElementById("map_canvas"), mapOptions);
        var marker = new google.maps.Marker({
            position: new google.maps.LatLng(54.98426, 82.90750),
            map: map,
            title:"Триада-ТВ",
            draggable: false,
            animation: google.maps.Animation.DROP,
        });
    </script>
{% endblock %}