{% extends "layer_01.html" %}

{% block content %}
	<div class="left column w100">
		<ul class="submenu">
			{% for year in year_list %}
				<li{% if year.year == news_list.0.date.year %} class="active"{% endif %}><a href="{% url news_list_year year.year %}">{{ year.year }}</a></li>
			{% endfor %}
		</ul>
	</div><!--

	--><div class="content column">
		<div class="news">
			<h2>{{ news.title }}</h2>
			<p class="date">{{ news.date }}</p>
			<p>{{ news.anons }}</p>
			<p>{{ news.text }}</p>
		</div>
	</div>
{% endblock %}