{% extends "layer_01.html" %}

{% block content %}
	<div class="left column w100">
		<ul class="submenu">
			{% for year in year_list %}
				<li{% if year.year == news_list.0.date.year %} class="active"{% endif %}><a{% if year.year != news_list.0.date.year %} href="{% url news_list_year year.year %}"{% endif %}>{{ year.year }}</a></li>
			{% endfor %}
		</ul>
	</div><!--

	--><div class="content column">{% for news in news_list %}
		<div class="news">
			<h2 class="tit"><a href="{{ news.get_absolute_url }}">{{ news.title|safe }}</a></h2>
			<p class="date">{{ news.date }}</p>
			<p>{{ news.anons|safe }}</p>
		</div>
	{% endfor %}</div>
{% endblock %}