* {
	margin: 0;
	padding: 0;
	border: 0;
	color: #000;
	/*font-weight: normal;*/
	font-family: "Trebuchet MS",sans-serif;
}

a {
	text-decoration: none;
	color: #1776B8;/*#274E7A*/
}

a:visited {
	color: #F1902F;
}

p {
	margin: 5px 0;
}

body {
	width: 1000px;
	margin: 0 auto;
	background-color: #ccc;
}

header {
	-moz-user-select: none;
	-webkit-user-select: none;
	-khtml-user-select: none;
	user-select: none;
	margin:30px 0 0;
}

header .top {
	position: relative;
	margin: 20px 20px 0;
	min-height: 185px;
}

header .top div {
	position: absolute;
}

.slogan {
	bottom: 0;
}

.logo {
	height: 154px;
	float: right;
}

menu {
	position: relative;
	height: 45px;
	width: 100%;
	margin: 10px 0 0;
	padding: 10px 0;
	border-radius: 2px;
}

menu a,
menu a:visited {
	position: relative;
	display: block;
	float: left;
	padding: 10px 20px 15px;
	font-size: 18px;
	text-shadow: 0 -1px 0 #000;
	color: #ccc;
	border-right: 1px solid rgb(16, 28, 44);
	border-radius: 3px;
	background: #1F3E66;
	box-shadow: 0 -5px 0 rgb(16, 28, 44) inset, 0 0 1px rgba(255,255,255,.7) inset;
	cursor: pointer;

	-webkit-transition: all .1s ease-in-out;
	-moz-transition: all .1s ease-in-out;
	-ms-transition: all .1s ease-in-out;
	-o-transition: all .1s ease-in-out;
	transition: all .1s ease-in-out;
}

menu a:hover {
	text-shadow: 0 0 7px #ccc;
	background-color: rgb(16, 28, 44);
	border-right: 1px solid rgb(5, 8, 12);
	box-shadow: 0 -5px 0 rgb(5, 8, 12) inset, 0 0 1px rgba(255,255,255,.7) inset;
}

menu a:active,
menu a.active {
	margin-top: 3px;
	padding: 10px 20px 12px;
	box-shadow: 0 -2px 0 rgb(16, 28, 44) inset, 0 0 1px rgba(255,255,255,.7) inset;
}

.body,
footer {
	margin: 10px 20px;
}

h1 {
	margin-bottom: 20px;
	font-weight: bold;
	color: #999;
	text-shadow: 0 -1px 0 #777;
}

h2 {
	margin-bottom: 20px;
	font-weight: bold;
}

.column {
	display: inline-block;
	vertical-align: top;
}

.left {
	width: 250px;
}

.left + .content {
	width: 710px;
}

ul.submenu {
	list-style: none;
}

.date {
	font-size: 14px;
	color: #999;
}






/* = новости = */
.news {
	margin-bottom: 20px;
}

.news .date {
	margin: 0;
}

.news .title {
	font-size: 18px;
	font-weight: normal;
	margin-bottom: 5px;
}

/* = endновости = */


/* = forum = */
th {
	font-weight: normal;
}

.comment_list {
	margin-top: 20px;
}

form {
	margin-top: 20px;
}

dt {
	width: 75px;
	font-size: 12px;
	opacity: .6;
	margin-top: 10px;
}

dd {
	min-height: 20px;
}

input {
	border-radius: 2px;
	padding: 2px 5px;
}

textarea {
	width: 100%;
}

.errorlist {
	list-style: none;
	margin-bottom: 10px;
}

.errorlist li {
	list-style: none;
	color: #F1902F;
	font-size: 12px;
}

input[type="submit"] {
	padding: 10px 20px;
}
/* = endforum = */




/* = extra = */
.w100 {
	width: 100px;
}

.opt05 {
	opacity: .5;
}

.fs14 {
	font-size: 14px;
}

/* = endextra = */


/* = footer = */
.ost>* {
	display: inline-block;
	height: 100%;
}
.ost .site_map {
	font-size: 12px;
	float: right;
}
/* = endfooter = */

/* = формы = */
form th {
	text-align: left;
	top: 0;
	padding-right: 10px;
}

form span.helptext {
	font-size: 12px;
	color: #777;
}

form input {
	width: 200px;
}

form input[type='submit'] {
	position: relative;
	display: block;
	float: left;
	padding: 10px 20px 15px;
	font-size: 18px;
	border-right: 1px solid rgb(170, 170, 170);
	border-radius: 3px;
	box-shadow: 0 -5px 0 rgb(170, 170, 170) inset, 0 0 1px rgba(255,255,255,.7) inset;
	cursor: pointer;

	-webkit-transition: all .1s ease-in-out;
	-moz-transition: all .1s ease-in-out;
	-ms-transition: all .1s ease-in-out;
	-o-transition: all .1s ease-in-out;
	transition: all .1s ease-in-out;
}

form input[type='submit']:hover {
	background-color: rgb(170, 170, 170);
	border-right: 1px solid rgb(127, 127, 127);
	box-shadow: 0 -5px 0 rgb(127, 127, 127) inset, 0 0 1px rgba(255,255,255,.7) inset;
}

form input[type='submit']:active {
	margin-top: 3px;
	padding: 10px 20px 12px;
	box-shadow: 0 -2px 0 rgb(170, 170, 170) inset, 0 0 1px rgba(255,255,255,.7) inset;
}

form input[type='submit']:hover:active {
	margin-top: 3px;
	box-shadow: 0 -2px 0 rgb(127, 127, 127) inset, 0 0 1px rgba(255,255,255,.7) inset;
}

/* = endформы = */

/* = каталог = */
.pdf_file {
	list-style: none;
	float: left;
}

.pdf_file a {
	position: relative;
	display: inline-block;
	padding: 50px 0 0;
	font-size: 12px;
}

.pdf_file a::before {
	content: '';
	position: absolute;
	top: 0;
	left: 8px;
	height: 50px;
	width: 50px;
	background: url('../images/pdf-icon.png') no-repeat;
}
/* = endкаталог = */