* {
	margin: 0;
	padding: 0;
	border: 0;
	color: #000;
	font-weight: normal;
	font-family: Verdana, courier, monospace;
	text-decoration: none;

	-webkit-transition: all .1s ease-in-out;
	-moz-transition: all .1s ease-in-out;
	-ms-transition: all .1s ease-in-out;
	-o-transition: all .1s ease-in-out;
	transition: all .1s ease-in-out;
}

a {
	color: #F1902F;/*#274E7A*/
}

a:visited {
	color: #1776B8;
}

body {
	width: 1000px;
	margin: 0 auto;
	background-color: #ccc;
}

header {
	-moz-user-select: none;
	-webkit-user-select: none;
	-khtml-user-select: none;
	user-select: none;
	margin:30px 0 0;
}

menu {
	position: relative;
	height: 45px;
	width: 100%;
	margin: 10px 0 0;
	padding: 10px 0;
	border-radius: 2px;
}

menu a,
menu a:visited {
	position: relative;
	display: block;
	float: left;
	margin: 0 5px;
	padding: 10px 20px 15px;
	font-size: 18px;
	text-shadow: 0 -1px 0 #000;
	color: #ccc;
	border-right: 1px solid rgb(16, 28, 44);
	border-radius: 3px;
	background: #1F3E66;
	box-shadow: 0 -5px 0 rgb(16, 28, 44) inset, 0 0 1px rgba(255,255,255,.7) inset;
	cursor: pointer;
}

menu a:hover {
	text-shadow: 0 0 7px #ccc;
	background-color: rgb(16, 28, 44);
	border-right: 1px solid rgb(5, 8, 12);
	box-shadow: 0 -5px 0 rgb(5, 8, 12) inset, 0 0 1px rgba(255,255,255,.7) inset;
}

menu a:active,
menu a.active {
	margin-top: 4px;
	padding: 10px 20px 11px;
	box-shadow: 0 -1px 0 rgb(16, 28, 44) inset, 0 0 1px rgba(255,255,255,.7) inset;
}

.body,
footer {
	margin: 30px 20px 0;
}

h1 {
	margin-bottom: 20px;
	font-weight: bold;
	color: #999;
	text-shadow: 0 -1px 0 #777;
}

.column {
	display: inline-block;
	vertical-align: top;
}

.left {
	width: 250px;
}

.left + .content {
	width: 710px;
}

ul.submenu {
	list-style: none;
}